html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, section,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
  background-color: none;
}

input:focus {
  outline: none !important;
}

body {
  box-sizing: content-box;
  color: black;
  font-family: "Roboto", sans-serif;
  position: relative;
}
body header {
  z-index: 1;
  background-color: white;
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 100px;
  width: 100%;
  position: fixed;
  outline: none;
  background-color: #FDF1F1;
}
@media (max-width: 700px) {
  body header {
    grid-template-columns: 70px auto 70px;
    grid-template-rows: 70px;
  }
}
body header a {
  background-color: #ff5757;
  width: 100px;
  display: block;
}
@media (max-width: 700px) {
  body header a {
    width: 70px;
  }
}
body header a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}
@media (max-width: 700px) {
  body header a img {
    width: 60px;
  }
}
body header .find {
  font-size: 20px;
  display: flex;
  position: relative;
}
body header .find a.searchMovie {
  background: #FDF1F1;
  border: none;
  color: black;
  line-height: 100px;
  text-align: center;
  margin-left: 10px;
}
@media (max-width: 700px) {
  body header .find a.searchMovie {
    display: none;
  }
}
body header .find a.searchMovie:hover {
  color: #ff5757;
}
body header .find input {
  font-size: 20px;
  border: none;
  background-color: #FDF1F1;
}
body header .find ul {
  position: absolute;
  max-width: 500px;
  top: 100px;
  left: 100px;
  background-color: #FDF1F1;
}
@media (max-width: 700px) {
  body header .find ul {
    display: none;
  }
}
body header .find ul a {
  width: 300px;
  padding: 0 10px 5px;
  text-decoration: none;
  color: grey;
  background-color: #FDF1F1;
}
body header .find ul a:hover {
  color: #ff5757;
}
body header div.dropdownIcon {
  display: none;
  height: 100px;
  font-size: 50px;
  float: right;
  position: absolute;
  right: 0;
}
@media (max-width: 700px) {
  body header div.dropdownIcon {
    height: 70px;
    font-size: 30px;
  }
}
body header div.dropdownIcon a {
  height: 100%;
  text-align: center;
  text-justify: center;
  border: none;
  color: white;
  transition: all 0.5s;
}
body header div.dropdownIcon a:hover {
  color: #ff5757;
  background-color: white;
}
body header div.dropdownIcon i {
  line-height: 100px;
}
@media (max-width: 700px) {
  body header div.dropdownIcon i {
    line-height: 70px;
  }
}
@media (max-width: 700px) {
  body header div.dropdownIcon {
    display: block;
  }
}
body div.bannerContainer {
  padding-top: 100px;
  overflow: hidden;
  justify-content: space-between;
}
@media (max-width: 700px) {
  body div.bannerContainer {
    position: relative;
    padding-top: 70px;
  }
}
body div.bannerContainer .featureNav {
  float: left;
  width: 100px;
  height: 600px;
  z-index: 1;
  position: fixed;
}
@media (max-width: 700px) {
  body div.bannerContainer .featureNav {
    margin-top: 70px;
    position: absolute;
    float: none;
    width: 100%;
    top: 0;
    position: fixed;
  }
}
body div.bannerContainer .featureNav ul {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: calc(100vh - 100px);
}
@media (max-width: 700px) {
  body div.bannerContainer .featureNav ul {
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.9);
    flex-wrap: wrap;
    height: calc(100vh - 70px);
  }
}
body div.bannerContainer .featureNav ul li {
  margin: auto;
  width: 100px;
  height: calc((100vh - 100px)/4);
  border: 1px dotted grey;
  background-color: rgba(255, 255, 255, 0.9);
}
body div.bannerContainer .featureNav ul li :hover {
  color: #ff5757;
  transition: 0.5s;
  transform: scale(1.2);
}
@media (max-width: 700px) {
  body div.bannerContainer .featureNav ul li {
    margin: 10px;
  }
}
body div.bannerContainer .featureNav ul li a {
  text-decoration: none;
  color: black;
}
body div.bannerContainer .featureNav ul li a i {
  display: block;
  margin: 40px auto 5px auto;
  width: 20px;
}
body div.bannerContainer .featureNav ul li a p {
  font-size: 15px;
}
body div.bannerContainer .banner {
  padding-left: 120px;
  height: calc(100vh - 100px);
  background-image: url(../image/banner5.jpg);
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}
@media (max-width: 700px) {
  body div.bannerContainer .banner {
    width: 100%;
    padding-left: 0;
    height: calc(100vh - 70px);
  }
}
body div.bannerContainer .banner h1 {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 130px;
  margin-top: 40px;
  margin-left: 50px;
  float: left;
}
@media (max-width: 700px) {
  body div.bannerContainer .banner h1 {
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    font-size: 80px;
  }
}
body .movies {
  margin: 30px 40px 50px 150px;
}
@media (max-width: 700px) {
  body .movies {
    margin: 10px;
  }
}
body .movies div {
  margin: 10px;
  overflow: hidden;
}
body .movies div h3 {
  font-size: 18px;
  color: grey;
  margin-left: 10px;
  float: left;
}
body .movies div a {
  text-decoration: none;
  margin-right: 10px;
  float: right;
}
body .movies div a p {
  font-size: 15px;
  color: grey;
  margin-right: 10px;
}
body .movies p.results {
  float: right;
  color: grey;
}
body .movies ul {
  clear: both;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}
body .movies ul li {
  margin-top: 20px;
}
body .movies ul li a.movieAnchor {
  text-decoration: none;
  color: grey;
  cursor: pointer;
}
body .movies ul li a.movieAnchor img {
  max-width: 200px;
  transition: all 0.5s;
}
@media (max-width: 700px) {
  body .movies ul li a.movieAnchor img {
    max-width: 120px;
  }
}
body .movies ul li a.movieAnchor img:hover {
  box-shadow: 4px 2px 46px -10px rgba(0, 0, 0, 0.7);
}
body .movies ul li a.movieAnchor figcaption {
  font-size: 15px;
  max-width: 200px;
  text-align: center;
}
@media (max-width: 700px) {
  body .movies ul li a.movieAnchor figcaption {
    max-width: 120px;
  }
}
body .movies a.load {
  border: 1px solid #ff5757;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 100px;
  text-align: center;
  color: #ff5757;
  text-decoration: none;
  transition: all 0.5s;
}
body .movies a.load:hover {
  background-color: #ff5757;
  color: white;
}
body .movieModal {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}
body .movieModal .movieBox {
  width: 50%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .movieModal .movieBox div.backdrop {
  background-color: black;
  grid-column: 1/span 2;
  height: 50vh;
  position: relative;
  font-size: 20px;
}
body .movieModal .movieBox div.backdrop .backgroundImage {
  width: 100%;
  height: 50vh;
  background-size: cover;
}
body .movieModal .movieBox div.backdrop .opacity {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
body .movieModal .movieBox div.backdrop a.closeMovie {
  color: white;
  position: absolute;
  z-index: 5;
  right: 20px;
  top: 20px;
}
body .movieModal .movieBox div.backdrop a.closeMovie:hover {
  color: #ff5757;
}
body .movieModal .movieBox div.backdrop .backdropContent {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: calc(50% + 20px);
  transform: translateY(-50%);
}
body .movieModal .movieBox div.backdrop .backdropContent h3 {
  color: #ff5757;
  font-size: 40px;
  margin-bottom: 10px;
}
body .movieModal .movieBox div.backdrop .backdropContent h4 {
  color: #ff5757;
  font-size: 25px;
}
body .movieModal .movieBox div.boxInfo {
  background-color: white;
  padding: 20px;
  grid-column: 1/span 2;
}
body .movieModal .movieBox div.boxInfo .boxInfoContent {
  margin: 20px 20px 20px calc(50% + 20px);
}
body .movieModal .movieBox div.boxInfo .boxInfoContent p {
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
}
body .movieModal .movieBox div.boxInfo .boxInfoContent h5 {
  color: #ff5757;
  margin-top: 20px;
}
body .movieModal .movieBox .frontImage {
  position: absolute;
  max-width: 40%;
  left: 40px;
  top: 40px;
  z-index: 4;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
