html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, section,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    list-style: none;
    background-color: none;
}

$mainFont: 'Roboto', sans-serif;
$fontTitle: 'Josefin Sans', sans-serif;

body{
    
    color: black;
    font-family: $mainFont;
    header{
        overflow: hidden;
        a{
            img{
                width: 8%;
                float: left;
                background-color: black;
                
            }
        }
        section{
            font-size: 20px;
            width: 90%;
            height: 90px;
            display: flex;
            align-items: center;
            float: right;
            padding-top: 18px;
            
            img{
                width: 20px;
                margin: 0 30px;
            }
            input{
                font-size: 20px;
                border: none;
                
            }
        }
    }
    div{
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        .featureNav{
            float: left;
            width: 10%;
            height: 600px;
            margin: 0;
            ul{
                list-style: none;
                text-align: center;
                height: 600px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                li{
                    margin: auto;
                    width: 120px;
                    height: 150px; 
                    border: 1px dotted grey;
                    margin-bottom: 10px;
                    a{
                        text-decoration: none;
                        color: black;
                        img{
                            width: 20px;
                            margin-top: 50px;
                        }
                        p{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .banner{
            overflow: hidden;
            width: 90%;
            height: 600px;
            background-image: url(../image/banner.jpg);
            background-size: cover; 
            float: right;
            display: flex;
            //justify-content: center;
            margin: 0;
            h1{
                color: white;
                font-family: $fontTitle;
                font-size: 110px;
                margin-top: 30px;
                margin-left: 40px;
                float: left;

            }
        }
    }    
    .section{
        div{
            h3{

            }
            a{

            }
        }
        ul{
            li{
                a{
                    img{

                    }
                    p{

                    }
                }
            }
        }
    }
}