html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, section,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    list-style: none;
    background-color: none;
}

$mainFont: 'Roboto', sans-serif;
$fontTitle: 'Josefin Sans', sans-serif;
$mainColor: #ff5757;

$small-break: 700px;

$transparent-white: rgba(255,255,255, 0.9);

$margin-left: 120px;

input{
    &:focus {outline:none !important}
}

body{
    color: black;
    font-family: $mainFont;
    position: relative;
    header{
        z-index: 1;
        background-color: white;
        display: grid;
        grid-template-columns: 100px auto 100px;
        height: 100px;
        width: 100%;
        position: fixed;
        outline: none;
        a{
            background-color: $mainColor;
            width: 100px;
            border: 1px solid $mainColor;
            display: block;
            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 80px;
            }
        }
        .find{
            font-size: 20px;
            display: flex;
            align-items: center;
            float: right;
            a.searchMovie{
                background-color: white;
                border: none;
                padding-left: 20px; 
                color: black;
                &:hover{
                    color: $mainColor;
                }
            }
            
            input{
                font-size: 20px;
                border: none;
            }
        }
        div.dropdownIcon{
            display: none;
            height: 100px;
            font-size: 50px;
            float: right;
            position: absolute;
            right: 0;
            a{
                height: 100%;
                text-align: center;
                text-justify: center;
                border: none;
                color: white;
                transition: all 0.5s;
                &:hover{
                    color: $mainColor;
                    background-color: white;
                }
            }
            i{
                line-height: 100px;
            }
            @media(max-width: $small-break){
                display: block;
            }
        }
    }
    div.bannerContainer{
        padding-top: 100px;
        overflow: hidden;
        //display: flex;
        justify-content: space-between;
        @media(max-width: $small-break){
            position: relative;
        }
        .featureNav{
            float: left;
            width: 100px;
            height: 600px;
            z-index: 1;
            position: fixed;
            @media(max-width: $small-break){
                margin-top: 100px;
                position: absolute;
                float: none;
                width: 100%;
                top: 0;
                position: fixed;
            }
            ul{
                list-style: none;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                height: calc(100vh - 100px);
                @media(max-width: $small-break){
                    flex-direction: row;
                    background-color: $transparent-white;
                    flex-wrap: wrap;
                }
                li{
                    margin: auto;
                    width: 100px;
                    height: calc((100vh - 100px)/4); 
                    border: 1px dotted grey;
                    background-color: $transparent-white;
                    @media(max-width: $small-break){
                        margin: 10px;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        img{
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 30px;
                            width: 20px;
                        }
                        p{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .banner{
            padding-left: $margin-left;
            height: calc(100vh - 100px);
            background-image: url(../image/banner5.jpg);
            background-size: cover; 
            background-position: right top;
            background-repeat: no-repeat;
            display: flex;
            @media(max-width: $small-break){
                width: 100%;
                padding-left: 0;
            }
            h1{
                color: white;
                font-family: $fontTitle;
                font-size: 130px;
                margin-top: 40px;
                margin-left: 50px;
                float: left;
                @media(max-width: $small-break){
                    margin-left: 10px;
                    display: inline-block;
                    text-align: center;
                    font-size: 80px;
                }
            }
        }
    }    
    .movies{
        margin: 100px 40px 50px 150px;
        @media(max-width: $small-break){
            margin: 10px;
        }
        div{
            margin: 10px;
            overflow: hidden;
            h3{
                font-size: 18px;
                color: grey;
                margin-left: 10px;
                float: left;
            }
            a{
                text-decoration: none;
                margin-right: 10px;
                float: right;
                p{
                    font-size: 15px;
                    color: grey;
                    margin-right: 10px;
                }
            }
        }
        p.results{
            float: right;
            color: grey;
        }
        ul{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 20px 0;
            li{
                margin-top: 20px;
                a.movieAnchor{
                    text-decoration: none;
                    color: grey;
                    cursor: pointer;
                    img{
                        max-width: 200px;
                        transition: all 0.5s;
                        &:hover{
                            box-shadow: 4px 2px 46px -10px rgba(0,0,0,0.7);
                        }
                        
                    }
                    figcaption{
                        font-size: 15px;
                        max-width: 200px;
                        text-align: center;
                    }
                }
            }
        }
        a.load{
            border: 1px solid $mainColor;
            border-radius: 5px;
            padding: 10px 20px;
            margin: 0 auto;
            max-width: 100px;
            text-align: center;
            color: $mainColor;
            text-decoration: none;
            transition: all 0.5s;
            &:hover{
                background-color: $mainColor;
                color: white;
            }
        }
    }
    .movieModal{
        background: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        z-index: 2;
        height: 100vh;
        overflow: scroll;
        .movieBox{
            width: 80%;
            margin: 50px auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            div.backdrop{
                grid-column: 1 / span 2;
                background-image: url("../image/lionKingBack.jpeg");
                background-repeat: no-repeat, repeat;
                background-position: center;
                background-size: cover;
                height: 50vh;
                position: relative;
                font-size: 20px;
                .opacity{
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.8);
                }
                a.closeMovie{
                    color: white;
                    position: absolute;
                    z-index: 3;
                    right: 20px;
                    top: 20px;
                    &:hover{
                        color: $mainColor;
                    }
                }
                .backdropContent{
                    position: absolute;
                    top: 50%;
                    left: calc(50% + 20px);
                    transform: translateY(-50%);
                    h3{
                        color: $mainColor;
                        font-size: 40px;
                        margin-bottom: 10px;
                    }
                    h4{
                        color: $mainColor;
                        font-size: 25px;
                    }
                }
            }
            div.boxInfo{
                background-color: white;
                padding: 20px;
                grid-column: 1 / span 2;
                .boxInfoContent{
                    margin: 20px 20px 20px calc(50% + 20px);
                    p{
                        text-align: justify;
                        text-justify: inter-word;
                    }
                    h5{
                    color: $mainColor;
                    margin-top: 20px;
                    }
                }
            }
            .frontImage{
                position: absolute;
                max-width: 40%;
                left: 40px;
                top: 40px;
            }
        }
        
    }
}
.show{
    display: block;
}
.hide{
    display: none;
}
.temporaryAnchor{
    margin-left: 100px;
}




